* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


.accueil {

    height: 100vh;

    background:
    linear-gradient(
        rgba(0,0,0,0.35),
        rgba(0,0,0,0.35)
    ),
    url("images/fond.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;

}


.contenu {

    animation: apparition 2s ease;

}


.petit-titre{

    font-size:18px;

    letter-spacing:3px;

    text-transform:uppercase;

}


h1{

    font-family:'Great Vibes', cursive;

    font-size:70px;

    font-weight:normal;

    line-height:1.2;

    letter-spacing:2px;

}

h1 span{

    color:#d4af37;

    font-size:45px;

}


.date{

    font-size:22px;

    letter-spacing:2px;

}


.bouton {

    text-decoration: none;

    color: white;

    border: 1px solid white;

    padding: 15px 30px;

    border-radius: 30px;

}


.bouton:hover {

    background:white;
    color:black;

}


@keyframes apparition {

    from {

        opacity:0;
        transform:translateY(40px);

    }

    to {

        opacity:1;
        transform:translateY(0);

    }

}

.accueil {

    height: 100vh;

    background:
        linear-gradient(
            rgba(0,0,0,0.35),
            rgba(0,0,0,0.35)
        ),
        url("images/image3.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}